*{padding:0;margin:0;}
html{
	font-size: 30px;
}
.container{
	width:100%;
	font-size: 30px;
	overflow: hidden;
}
.header{
	width:100%;
	height:3rem;
	background:#00a2ea;
	line-height: 3rem;
}
.icon{
	float:left;
	margin-left: 1rem;
}
.icon1{
	float:right;
	margin-right:1.2rem;
}
.icon2{
	float:right;
	margin-right:2rem;
}
.zhi{
	float:left;
	font-size: 0.93rem;
	margin-left:1.46rem;
	font-family: "微软雅黑";
	color:#fff;
}
.content{
	background:#f3f3f3;
}